{% extends "base.html" %}

{% block title %}Home - Garden Pros{% endblock %}

{% block content %}
    <div class="text-center my-5">
        <h1 class="display-4">Start your garden with Garden Pros</h1>
        <h4 class="text-muted">Your one-stop shop for all garden irrigation and tool needs</h4>
        <p class="lead">We understand that every garden is unique, and so are the people who enjoy them. That's why we provide comprehensive gardening services tailored to any client's specific needs. Whether you're looking for routine maintenance, a complete garden redesign, or specialized planting, our team of experienced gardeners is dedicated to bringing your vision to life. We pride ourselves on creating beautiful and functional outdoor spaces that reflect your personal style and enhance your enjoyment of your property.</p>
        
        <video class="img-fluid rounded" autoplay loop muted src="44765-440000959_small.mp4"></video>


<iframe src="https://icons.getbootstrap.com/?q=cli" width="100%" height="300">
</iframe>


        <div class="mt-4">
            <a href="{{ url_for('buy') }}" class="btn btn-primary btn-lg">Shop Now</a>
        </div>
    </div>
{% endblock %}
